{
	"bootstrapped": true,
	"in_process_packages":
	[
	],
	"installed_packages":
	[
		"Alignment",
		"BracketHighlighter",
		"Color Highlight",
		"ColorPicker",
		"Emmet",
		"GitGutter",
		"LaTeXTools",
		"MarkdownEditing",
		"MarkdownPreview",
		"Package Control",
		"Sass",
		"SideBarEnhancements",
		"SublimeCodeIntel",
		"SublimeLinter",
		"SublimeLinter-flake8",
		"Theme - Afterglow"
	],
}
